body{
    font-family: 'K2D', sans-serif;
    background-image: url("img/bg.png");
    margin: 0px auto;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
}


/*nav*/
nav{
    width: 100%;
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
    background-color: #000;
    color: white;
    position: fixed;
    z-index: 500;
}
.logo-box{
    float: left;
}
.logo-name{
    font-weight: 600;
    font-size: 45px;
    padding: 0 40px;
}
.ul-links .nav-link{
    display: block;
    float: right;
     letter-spacing: .1rem;
     padding: 10px;
     font-weight: 900;
     margin-right: 20px;
     transition: all 1s;
}
.nav-link:hover{
    background: gray;
}
