body{
    font-family: 'K2D', sans-serif;
    background-image: url("img/bg.png");
    margin: 0px auto;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
}

h5{
    font-weight: 500px;
    font-size: 20px;
    text-align: center;
}
ol{
    list-style-type: none;
}



/*nav*/
nav{
    width: 100%;
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
    background-color: #000;
    color: white;
    position: fixed;
    z-index: 500;
}
.logo-box{ /*dostlarım market yazan yer divi*/
    float: left;
}
.logo-name{ /*dostlarım market yazan yer*/
    font-weight: 600;
    font-size: 45px;
    padding: 0 40px;
}
.ul-links .nav-link{  /*hemn ul links hem nav link özellikleri*/
    display: block;
    float: right;
     letter-spacing: .1rem;
     padding: 10px;
     font-weight: 900;
     margin-right: 20px;
     transition: all 1s;
}
.nav-link:hover{
    background: gray;
}

/*header*/
#urunler{ /*katogeriler ile yan yana gelmezse display block yap*/
    margin-top: 200px;
    margin-right: 20px;
    width: 250px;
    height: 500px;
    border: 8px solid black;
    border-radius: 10px;
    float: right;
    background-color: wheat;
}
.cizgih5{  /*ürünlerin altındaki çizgi kutuyu ikiye bölen*/
    
        border: 3px solid black;

}
#urunler-items li a{  /*ürünler listesi özellikleri*/
    font-size: 20px;
    color: green ;
}
